      body {
        @apply bg-background text-foreground;
        overflow-x: hidden;
        font-size: 18px;
        font-family: PP Telegraf,Wingwings,"DM Sans", Gilroy, -apple-system, "Sofia Pro", "Microsoft YaHei", Helvetica, Arial, sans-serif;
      }
